<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
</head>
<body>
    <h1>Attendance Data</h1>
    <table border="1">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Year </th>
            <th>Total Attendance</th>
            <th>Last Update </th>
        </tr>
        {% for student_id, data in attendance_data.items() %}
        <tr>
            <td>{{ student_id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.year }}</td>
            <td>{{ data.total_attendance }}</td>
            <td>{{ data.last_attendance_time}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
